<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <title>Home</title>
  </head>
  <body>
    <nav>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-links">
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/Home.html" style="color:black"><b><h3>Home</h3></b></a></li>
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/Caes.html">Cães</a></li>
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/Gatos.html">Gatos</a></li>
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/passaros.html">Pássaros</a></li>
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/Repteis.html">Répteis</a></li>
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/Peixes.html">Peixes</a></li>
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/Carrinho_de_compras.html">Carrinho de Compras</a></li>
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/Promocoes.html">Promoções</a></li>
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/Cadastros.html">Cadastros</a></li>
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/Entrar.html">Entrar</a></li>
        <li><a href="/Users/bdias/Desktop/novo_projeto/views/Pedidos_realizados.html">Pedidos Realizados</a></li>
      </ul>
    </nav>


      <div class="container">

        <img src="../public/images/banner_mobile 1.png" alt="">

      </div> 

      <div class="conteinerx">
          <img src="../public/images/PNG - cao descansando 1 (1).png" alt="">
          <img src="../public/images/img-peixes (1).png" alt="">
      </div> 

      <div class="conteinery">
        <ul>
        <img src="../public/images/img-répteis (1).png" alt="">
        <img src="../public/images/img-gatos (1).png" alt="">
        <img src="../public/images/img-pássaros (1).png" alt="">
      </ul>
      </div> 

    <div class="container_card">

      <ul>
        <li><h1>Atendimento</h1></li><br><br>
        <li><h2>Central de Atendimento</h2></li><br>
        <li><h2>Assessoria de Imprensa</h2></li><br>
        <li><h2>Chat</h2></li><br>
        <li><h2>E-mail</h2></li>
      </ul>

      <ul>
        <li><h1>Onde Estamos</h1></li><br><br>
        <li><i class="fab fa-twitter-square"></i></li><br>
        <li><i class="fab fa-instagram"></i></li><br>
        <li><i class="fab fa-facebook-square"></i></li>
      </ul>

      <ul>
        <li><h1>Políticas</h1><br></li><br>
        <li><h2>Privacidade</h2></li><br>
        <li><h2>Entrega</h2></li><br>
        <li><h2>Compras</h2></li>
      </ul>

      <ul>
        <li><h1>Institucional</h1><br></li><br>
        <li><h2>A Empresa</h2></li><br>
        <li><h2>Termos e Condições de Uso</h2></li><br>
        <li><h2>Trabalhe Conosco</h2></li>
      </ul>


  </div>

    <script src="novo.js"></script>
  </body>
  <footer>
    <h4>Animales Loja Pet Orgulhosamente criado por DH-T12-G4 Digital House</h4><br>
    <h4>Animales - Loja Pet. - CPF/CNPJ: 00.000.000/0001-00 - Rua Hipotética , 2021- São Paulo, SP 12345-678</h4><br>
    <h4>info@meusite.com - Telefone: (11) 0000-0000</h4>
  </footer>
</html>
