<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Bubble Effect</title>
  </head>
  <body>
    <nav>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Cães</a></li>
        <li><a href="#">Gatos</a></li>
        <li><a href="#">Pássaros</a></li>
        <li><a href="#">Répteis</a></li>
        <li><a href="#">Peixes</a></li>
        <li><a href="#">Carrinho de Compras</a></li>
        <li><a href="#">Promoções</a></li>
        <li><a href="#">Cadastros</a></li>
        <li><a href="#">Entrar</a></li>
        <li><a href="#">Pedidos Realizados</a></li>
      </ul>
    </nav>


    <script src="novo.js"></script>
  </body>
</html>
